<footer class="footer">
    <a href="#link"><div class="footer__container"><img src="./assets/images/ico-arrow.svg" alt="up-arrow" class="footer__container--img" /></div></a>
    <nav class="footer__list">
      <ul class="footter__list--ul">
        <li>Articles<a href="https://adalab.es/" title="Adalab page"></a></li>
        <li>Books<a href="https://adalab.es/" title="Adalab page"></a></li>
        <li>Events<a href="https://adalab.es/" title="Adalab page"></a></li>
        <li>Reasons<a href="https://adalab.es/" title="Adalab page"></a></li>
        <li>Tips<a href="https://adalab.es/" title="Adalab page"></a></li>
      </ul>
      <ul class="footer__list--ul" >
        <li>Twitter<a href="https://adalab.es/" title="Adalab page"></a></li>
        <li>
          Instagram<a href="https://adalab.es/" title="Adalab page"></a>
        </li>
        <li>
          Mastodon.social<a href="https://adalab.es/" title="Adalab page"></a>
        </li>
      </ul>
    </nav>
    <div class="footer__copyright">
      <p>&#169 2021 </p>
      <p>we <i class="fas fa-heart" color="$#f26002"></i> components </p>  
    </div>
    
  </footer>