<footer class="footer">
    <a href="#link"><div class="footer__link"><img src="./assets/images/ico-arrow.svg" alt="up-arrow" class="footer__link--img" /></div></a>
    <div class="footer__container">
    <nav class="footer__container--list">
      <ul class="footter__container--list--ul1">
        <li><a class="footer__container--list--a" href="https://adalab.es/" title="Adalab page"  >Articles</a></li>
        <li><a class="footer__container--list--a" href="https://adalab.es/" title="Adalab page">Books</a></li>
        <li><a class="footer__container--list--a"   href="https://adalab.es/" title="Adalab page">Events</a></li>
        <li><a class="footer__container--list--a" href="https://adalab.es/" title="Adalab page">Reasons</a></li>
        <li><a class="footer__container--list--a" href="https://adalab.es/" title="Adalab page">Tips</a></li>
      </ul>
      <ul class="footer__ container--list--ul2" >
        <li><a class="footer__container--list--a" href="https://adalab.es/" title="Adalab page">Twitter</a></li>
        <li><a class="footer__container--list--a" href="https://adalab.es/" title="Adalab page">Instagram</a></li>
        <li><a class="footer__container--list--a" href="https://adalab.es/" title="Adalab page">Mastodon.social</a></li>
      </ul>
    </nav>
    <div class="footer__container--copyright">
      <p>&#169 2021 </p>
      <p>we <i class="fas fa-heart" color="$#f26002"></i> components </p>  
    </div>
  </div>
  </footer>