<footer>
    <div><img src="./assets/images/ico-arrow.svg" alt="up-arrow" /></div>
    <nav>
      <ul>
        <li>Articles<a href="https://adalab.es/" title="Adalab page"></a></li>
        <li>Books<a href="https://adalab.es/" title="Adalab page"></a></li>
        <li>Events<a href="https://adalab.es/" title="Adalab page"></a></li>
        <li>Reasons<a href="https://adalab.es/" title="Adalab page"></a></li>
        <li>Tips<a href="https://adalab.es/" title="Adalab page"></a></li>
      </ul>
      <ul>
        <li>Twitter<a href="https://adalab.es/" title="Adalab page"></a></li>
        <li>
          Instagram<a href="https://adalab.es/" title="Adalab page"></a>
        </li>
        <li>
          Mastodon.social<a href="https://adalab.es/" title="Adalab page"></a>
        </li>
      </ul>
    </nav>
    &#169: 2021
    we <i class="fa-solid fa-heart"></i> components
  </footer>