<header class="header">
  <div class="header__container">
    <a href="https://adalab.es/"
      ><img
        src="./assets/images/ico-menu.svg"
        alt="Adalab page"
        title="Adalab page"
        class="header__container--img"
    /></a>
  </div>
  <h1 class="header__tittle">Anonymous proxy</h1>
  <h2 class="header__second--tittle">In hac hanitasse platea dictumst.</h2>
  <div class="header__scroll">
    <a href="#scroll"
      ><img src="./assets/images/ico-scroll-down.svg" alt="scroll-down" />
    </a>
  </div>
</header>
