<section class="main__second">
  <h2 id="scroll" class="main__second--tittle">3 Reasons to purchase</h2>
  <article class="main__second--article">
    <h3 class="main__second--article--tittle">ut sed metus</h3>
    <p class="main__second--article--text">
      lorem ipsum dolor sit amet, consecteur
    </p>
  </article>
  <article class="main__second--article">
    <h3 class="main__second--article--tittle">curabituc ac erat</h3>
    <p class="main__second--article--text">
      mauris mattis urna quis lorem molestie
    </p>
  </article>
  <article class="main__second--article">
    <h3 class="main__second--article--tittle">morbi dictum</h3>
    <p class="main__second--article--text">
      aliquam in dolor et dolor tincidunt
    </p>
  </article>
  <input type="submit" value="More reasons" class="main__second--button" />
</section>
